.vscode/

# Ignore Firebase service account key
Server/serviceAccountKey.json

# Go build artifacts
/agent
*.exe
*.out
*.test

# eBPF build artifacts
*.o
*.elf

# OS/editor junk
.DS_Store
Thumbs.db

# Logs
*.log

#Executable
agent